

h1 {
  color: blueviolet;
  border-style: double;
  border-color: black;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
  font-size: xx-large;
  margin: 20px;
};

h4 {
  color: green;

}